.card {
    padding: 15px 0;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #fff;
    display: grid;
    justify-items: center;
    &__inner {
        display: grid;
        grid-template-columns: 200px 200px 200px 200px 200px 200px;
        gap: 10px;
    }
    &__wrapper {
        height: 300px;
        display: grid;
        justify-items: center;
    }
}

.title {
    margin-top: 10px;
    max-width: 180px;
    text-align: center;
}

.image {
    height: 140px;
    margin-right: 0;
}

.price {
    margin-top: 6px;
    font-weight: 600;
    max-width: 180px;
    color: #7e5252;
}

.card button {
    background-color: transparent;
    margin-top: 30px;
    border: solid 1px #7e5252;
    color: #7e5252;
    max-height: 50px;
    max-width: 160px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.card button:hover {
    color: #f13737;
    border-color: #f13737;
}

.bestSeller {
    margin-bottom: 100px;
    margin-top: 60px;
    display: flex;
}